
.labelsMenu{
    font-size: 12px;
      font-weight: 450;
      margin: 0px;
  
  }

  .form-group{
    max-width: 100%;
  }

  .selects{ 
    font-size: 12px ;
  /*  width: 125px;
    min-width: 50px ;
    max-width: 125px; */
    height: 30px;
    text-align:justify;    
} 

